@page
@model Projekt_Opgave.Pages.Orders.OrderModel
@{
}

<h1 class="colorcoding">Orders</h1>

    <form method="post" class="form-inline">
        <div class="input-group mb-3">
            <input asp-for="SearchString" class="form-control mr-1" placeholder="Enter search term" />
            <input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-primary" />
        </div>
    </form>

    <form method="post" class="form-inline">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Min</span>
            </div>
            <input asp-for="MinPrice" class="form-control mr-1" />
            <div class="input-group-prepend">
                <span class="input-group-text">Max</span>
            </div>
            <input asp-for="MaxPrice" class="form-control mr-1" />
            <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary" />
        </div>
    </form>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr style="background-color:white">
                <th>
                    Id
                </th>
                <th>
                    Item
                </th>
                <th>
                    Customer Name
                </th>
               
                <th>
                    Customer Email
                </th>
                <th>
                    Customer PhoneNumber
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Order Date
                </th>
                <th>
                    Total Price
                </th>
                <th>
                    Delivery Date
                </th>
                <th>
                    Functions
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model.Order != null)
            {
                foreach (var item in Model.Order)
                {
                    <tr style="background-color: white">
                        <td>
                            @item.Id
                        </td>
                         <td>
                            @item.CustomerName
                        </td>
                        <td>
                            @item.CustomerEmail
                        </td>
                        <td>
                            @item.CustomerPhoneNumber
                        </td>
                        <td>
                            @item.Item
                        </td>
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            @item.OrderDate
                        </td>

                        <td>
                            @item.TotalPrice
                        </td>
                        <td>
                            @item.DeliveryDate
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditOrder" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger btn-sm" type="button" title="Delete" asp-page="DeleteOrder" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
<p>
    <a class="btn btn-primary" asp-page="CreateOrder"> Create a new Order </a>
</p>